@media (max-width: 768px) {

    body {
      font-size: 16px; /* Adjust font size for better readability on smaller screens */
    }

    .header {
      display: flex; /* Change layout for the header to a flexbox on smaller screens */
      flex-direction: column;
    }

    .menu {
      display: none; /* Hide the menu on smaller screens or change its appearance */
    }

    .content {
      width: 100%; /* Make content occupy full width on smaller screens */
    }
}

body{
    background-image: url(./images/newsletter-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    background-color: hsl(234, 29%, 20%);
    padding: 20px;
}

form{
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin-bottom: auto;
}

footer{
    flex-shrink: 0;
    margin-top: auto;
}
